<%- include('../partials/header') %>

<h1>Welcome To Healthy Habits</h1>
<body>
<h2>"It takes 21 days to start and break a habit, so create the life you want TODAY!</h2>
</body>
<%- include('../partials/footer') %>