
<%- include('../partials/header') %>


<title>Main Page</title>
<link rel = 'stylesheet' href="/stylesheets/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Jacques+Francois+Shadow&family=Sintony:wght@700&family=VT323&family=Zilla+Slab+Highlight&display=swap" rel="stylesheet">
<body class = 'homepage'>

  <h1>Welcome To The Manifestation App</h1>
<h2>"It takes 21 days to start and break a habit, so create the life you want TODAY!</h2>
</body>
<%- include('../partials/footer') %>
