<%- include('../partials/header') %>
<link rel = 'stylesheet' href="/stylesheets/style.css" />
<h2>Daily Planner</h2>
<form action="/planner" method="POST">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <input type="text" name="Plan">
  <button type="submit">PLAN THE DAY!</button>
</form>
<p><%= errorMsg %></p>
<%- include('../partials/footer') %>