<%- include('../partials/header') %>
<!-- <link rel = 'stylesheet' href="/stylesheets/style.css" />
<table id="list">
  <thead>
    <tr>
      <th>Planner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% planner.forEach(function(g) { %>
      <tr>
        <td><%= p.title %></td>
        <td><a href="/notes/index<%= p._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %> -->
