<%- include('../partials/header') %>
<h1>YOU GOT THIS!</h1>
<br><br>
<body class ="notes-show">
  <div>Notes:</div>
  <% if (goals) { %>
  <table>
    <thead>
      <tr>
        <br><br>
        </tr>
        </thead>
        <tbody>
          <% goals.forEach(function(g) { %>
           <tr><%= g.title %></tr>
           <form action="/goals/<%= g._id %>?_method=DELETE" method="POST">
            <button type="Submit">DELETE</button>
            </form>
            <td>
  
              </td>
        <% }) %>
        </tbody>
  <% } %>
<br><br>
<br>


<%- include('../partials/footer') %>