<%- include('../partials/header') %>
<link rel = 'stylesheet' href="/stylesheets/style.css" />
<section>
<h1>Daily Goals</h1>
<form action="/goals" method="POST">
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <label>Goal
  <input type="text" name="Goals">
  </label>
  <button type="submit">Manifest!</button>
</section>

