<%- include('../partials/header') %>
<link rel = 'stylesheet' href="/stylesheets/style.css" />
<section>
  <body class="goals-page">
<h1>Goals</h1>
<form action="/goals" method="POST">
  <br>
  <input type="text" name="title">
<br>
  <button type="submit">Manifest!</button>
</section>

