<%- include('../partials/header') %>
<link rel = 'stylesheet' href="/stylesheets/style.css" />
<section id="show-page">
  <div>Manifestations</div>
  <div><%= goal.title %></div>
</section>
<h2>Daily Goals</h2>
<section id = 'Add Plans'>
  <form action="/goals/<%= goals.id %>/goals" method="POST">
    <select name="goals">
  <option type="text" name="Goals">
  </select>