* {
  background-image: url(background.jpg);
  background-position: 100%;
  background-size: cover;
}

body {
  padding: 200px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(45, 117, 213);
  text-align: center;
}


a {
  color: #e9e2db;
  
}
a:hover {
  color: aqua;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img{
  height: 35px
}
#form {
display: grid;
grid-template-columns: auto auto;
grid-gap: 1rem;
margin-bottom: 2rem;
}
