.homepage {
  background-image:url(background.jpg);
  background-repeat: no repeat;
  background-size: cover;
  background-position: static;
  background-size: cover;
  font-size: 20px;
  font-family: 'Sintony', sans-serif;
}

.goals-page{
  background-image:url(quote1.jpg);
  background-size: cover;
}
.planner-page{
  background-image:url(quote2.jpg);
  background-size: cover;
}
.notes-show{
  background-image:url(background.jpg);
  background-size: cover;
}
body {
  padding: 200px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgb(45, 117, 213); */
  text-align: center;
}
a {
  color: #e9e2db;
  
}
a:hover {
  color: rgb(255, 234, 0);
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}
.login img{
  height: 35px
}
#form {
display: grid;
grid-template-columns: auto auto;
grid-gap: 1rem;
margin-bottom: 2rem;
}
